<h2>Categorias selecionada: </h2>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">            
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-info">Leia mais</button></a>
                       
            <br>
            <small>Data de publicação: {{data}}</small>            
        </div>
    </div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}